body {
    background-color: powderblue;
}

hr {
    border: none;
    border-top: dotted;
    color: grey;
    height: 0%;
    width: 5%;
}

h1 {
    color: rgb(44, 37, 166);
}

h3 {
    color: rgb(81, 81, 153);
}

a:hover {
    color: rgb(4, 108, 108);
}